# Don't add compiled pyc files
*.pyc

# Mac folder file
.DS_Store

# Easily regenerated locally
htmlcov/
.coverage

# Editor config
.vscode/

# Jupyter
.ipynb_checkpoints/

# Build files
backprop.egg-info/

# Test results
.pytest_cache/
