# Don't add compiled pyc files
*.pyc

# Mac folder file
.DS_Store

# Easily regenerated locally
htmlcov/
.coverage

# Editor config
.vscode/settings.json
.vscode/launch.json

# Windows build files
backprop.egg-info/
